<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nil.filmesseries">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LinkGtoFSActivity"
            android:label="@string/title_activity_link_gto_fs"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".LinkPtoFSActivity"
            android:label="@string/title_activity_link_pto_fs"
            android:parentActivityName=".FSDetalhesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nil.filmesseries.FSDetalhesActivity" />
        </activity>
        <activity
            android:name=".GeneroActivity"
            android:label="@string/title_activity_genero"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nil.filmesseries.MainActivity" />
        </activity>
        <activity
            android:name=".DeletePeopleActivity"
            android:label="@string/title_activity_delete_people"
            android:parentActivityName=".GerirPActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nil.filmesseries.GerirPActivity" />
        </activity>
        <activity
            android:name=".EditPeopleActivity"
            android:label="@string/title_activity_edit_people"
            android:parentActivityName=".GerirPActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nil.filmesseries.GerirPActivity" />
        </activity>
        <activity
            android:name=".AddPeopleActivity"
            android:label="@string/title_activity_add_people"
            android:parentActivityName=".GerirPActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nil.filmesseries.GerirPActivity" />
        </activity>
        <activity
            android:name=".GerirPActivity"
            android:label="@string/title_activity_pessoas"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nil.filmesseries.MainActivity" />
        </activity>
        <activity
            android:name=".DeleteFSActivity"
            android:label="@string/title_activity_delete_fs"
            android:parentActivityName=".GerirFSActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FSDetalhesActivity"
            android:label="@string/title_activity_detalhes_fs"
            android:parentActivityName=".GerirFSActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdicionarFSActivity"
            android:label="@string/title_activity_adicionar_fs"
            android:parentActivityName=".GerirFSActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nil.filmesseries.GerirFSActivity" />
        </activity>
        <activity
            android:name=".GerirFSActivity"
            android:label="@string/title_activity_tudo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nil.filmesseries.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".FilmesContentProvider"
            android:authorities="nil.filmesseries"
            android:exported="false" />
    </application>

</manifest>